* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  font-family: "Open Sans";
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
  width: 100%;
  position: relative;
  overflow-x: hidden;

}

.nav {
  display: flex;
  /* margin: 0 auto; */
  /* flex: 1; */
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  height: 8rem;
  font-size: 1.5rem;
  padding: 1rem;
}

/* .logo {
  height: ;
} */
.backgr {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  width: 100%;
  /* display: flex; */
}

.text {
  border: 1px solid black;
  min-width: 10rem;
  font-size: 0.8rem;
  border-radius: 20px;
  height: 2rem;
  font-weight: 600;
  color: black;
  padding: 6px 0 0 49px;
  font-family: 'Open Sans';
}

.logo img {
  height: 26px;
  /* width: 2px; */
}

.section {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  margin: 1rem;
  /* flex-wrap: wrap; */
  width: 100%;
}

.para {
  /* margin-left: 2rem;
  margin-top: 5rem;
  height: 20rem;
  width: 40%;
  gap: 3rem;
  display: grid;
  justify-content: space-around; */
  margin-left: 4rem;
  margin-top: 4rem;
  width: 40%;
}

.photo{
  /* width: 40%; */
}

.photo img {
  width: 75%;
  
}

.para h2 {
  font-size: 2.7rem;
  font-family: "Poppins";
}

.para p {
  font-size: 1.06rem;
  font-family: "Open Sans";
  margin: 2rem 0;
}

.para .btn {
  width: 15rem;
  color: white;
  font-weight: 600;
  height: 3rem;
  font-size: 13px;
  background-color: hsl(322, 100%, 66%);
  border-radius: 27px;
  padding: 14px 0 0 52px;
}

/*          Middle Image CSS   */

.mid {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 7px 17px #00000045;
  margin: 10rem 10rem 0 10rem;
  gap: 2rem;
  width: 85%;
  padding: 2rem;
}

.col h3 {
  font-family: "Poppins";
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.col p {
  font-family: "Open Sans";
  color: gray;
}

.mid img {
  width: 35%;
}

/*          Second Image     */

.mid1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 7px 17px #00000045;
  margin: 10rem 10rem 0 10rem;
  gap: 2rem;
  padding-left: 5 rem;
  width: 85%;
  padding: 2rem 0;
}

/* .col1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.mid1 img {
  width: 35%;
}

.col1 h3 {
  font-family: "Poppins";
  font-size: 1.5rem;
}

.col1 p {
  font-family: "Open Sans";
  color: gray;
}

/*          Footer  Container css           */
.btn-parents{
  /* position: relative; */
  border: 2px solid;
  z-index: 1;
}
.slast {
  /* border: 2px solid; */
  box-shadow: 2px 7px 17px #00000045;
  padding: 2rem 10rem;
  background-color: #fff;
  border-radius: .5rem;
  position: absolute;
  bottom: 26rem;
  z-index: 1;
}

.slast button {
  padding: 1rem 2rem;
  background-color: hsl(322, 100%, 66%);
  border-radius: 27px;
  color: white;
  font-weight: 600;
  border: none;
  margin: 1rem;
  margin-left: 5rem;
}

.footer {
  position: relative;
  background-color: hsl(192, 100%, 9%);
  width: 100%;
  box-sizing: border-box;
  margin: 14rem 0 0 0;
  padding: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-logo {
  width: 40%;
}

.location {
  display: flex;
  gap: 1rem;
  font-family: "Open Sans";
}
.location img {
  height: 1rem;
}
.text1 {
  font-family: "Poppins";
}

.text2 {
  color: #fff;
}

.footer1 {
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
}

.footer2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  font-family: "Open Sans";
}

.footer3 {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 2rem;
  font-family: "Open Sans";
}

.icons {
  /* color: #fff; */
  display: flex;
  /* flex-direction: column; */
  margin-top: 5rem;
  gap: 2rem;
  /* font-family: "Open Sans"; */
}

.icons img {
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
}

.last {
  font-size: 0.8rem;
  /* background-color: white; */
  color: white;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}




@media (max-width:490px){
  html{
    font-size: 12px;
  }

  .text {
    padding: 5px 0 0 31px;
  }

  .text1 {
    width: 100%;
    /* border: 2px solid; */
    font-size: 13px;
  }

  .para {
    width: 90%;
    margin-left: 2rem;
  }

  .para .btn{
    padding: 8px 0px 0px 24px;

    margin-left: 6rem;
  }

  .slast {
    border: 2px solid;
    /* padding: 2rem 7rem; */
    background-color: #fff;
    border-radius: .5rem;
    position: absolute;
    /* position: relative; */
    bottom: 40rem;
    z-index: 1;
    margin: 1rem 0 ;
    width: 90%;
  }

  .slast button {
    font-size: 11px;
    /* position: absolute; */
  }
 .footer {
   margin-top: 23rem;
   display: flex;
   flex-wrap: wrap;
   
 }

 .footer1 {
   margin-top: 5rem;
 }

  .photo img {
    margin-left: 3rem ;
  }

  .mid{
    height: 64vh;
    /* position: relative; */
    /* display: flex;
    justify-content: center; */
  } 
  .col  {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    /* margin-bottom: 6rem; */

  }
  .col h3 {
    margin: 0 0 1rem 6rem;
  }
  .col p{
    width: 100%;
    font-size: 16px;
    
  }
  .mid img {
    width: 90%;
    /* border: 2px solid; */
  }

  .mid1 {
    height: 64vh;
  }

  .mid1 img {
    width: 90%;
  }
  .col1 h3 {
    margin: 0 0 1rem 6rem;
  }
  .col1 p{
    width: 90%;
    font-size: 16px;
    margin-left: 2rem;
    
  }
  
  .section{
    display: flex;
    flex-wrap: wrap;
  }

  .footer3{
    /* margin-top: 20rem; */
    margin-right: 20rem;
  }

  .footer2 {
  margin-right: 16rem;

  }
  .footer3 {
    margin-right: 16rem;
  
    }
}




@media (max-width: 375px){
.slast {
    /* border: 2px solid; */
    padding: 2rem 7rem;
    background-color: #fff;
    border-radius: 0.5rem;
    position: absolute;
    /* position: relative; */
    bottom: 64rem;
    z-index: 1;
    margin: 1rem 0; 
    width: 90%;
}
}

@media (max-width: 400px){
  .slast {
      /* border: 2px solid; */
      padding: 2rem 7rem;
      background-color: #fff;
      border-radius: 0.5rem;
      position: absolute;
      /* position: relative; */
      bottom: 49rem;
      z-index: 1;
      margin: 1rem 0;
      width: 90%;
  }
  }

  @media (max-width: 820px){
    .slast {
        /* border: 2px solid; */
        padding: 2rem 7rem;
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        /* position: relative; */
        bottom: 30rem;
        z-index: 1;
        margin: 1rem 0;
        width: 90%;
    }
    }

    @media (max-width: 540px){
      .slast {
          border: 2px solid;
          /* padding: 2rem 7rem; */
          background-color: #fff;
          border-radius: 0.5rem;
          position: absolute;
          /* position: relative; */
          bottom: 64rem;
          z-index: 1;
          margin: 1rem 0;
          width: 90%;
      }
      }


      @media (max-width: 375px){
        .slast {
            border: 2px solid;
            /* padding: 2rem 7rem; */
            background-color: #fff;
            border-radius: 0.5rem;
            position: absolute;
            /* position: relative; */
            bottom: 48rem;
            z-index: 1;
            margin: 1rem 0;
            width: 90%;
        }
        }